@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ccc; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 2px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





header .menu01 {
    background-color: #fff;
    width: 100%;
    height: 15px;
    border-bottom: 1px solid #ccc;
}

.divMenu01 {
    background-color: #fff;
    width: 86%;
    margin-left: 8%;
    height: 100%;
}

#container {
    position: absolute;
    right: 100px;
    width: 220px;
    height: 45px;
    
    border: 1px solid transparent;
}

.cybr-border {
    --shadow-primary: #fff;

    --clip: polygon(0 0, 100% 0%, 100% 100%, 0% 0%, 90% 90%, 85% 0%, 100% 0%, 100% 100%, 100% 100%);
    transform: rotate(0deg);

    

    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: 700;
    border-left: 0;
    min-width: 28px;
    height: 30px;
    line-height: 0px;
    display: inline-block;
}

.cybr-border:after, .cybr-border:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border:before {
    background: var(--shadow-primary);
    
}

.cybr-border02 {
    --shadow-primary: #ccc;

    --clip: polygon();
    transform: rotate(136.5deg);
    


    position: absolute;
    bottom: -4.9px;
    left: 12px;
    font-weight: 700;
    border-left: 0;
    min-width: 2px;
    height: 40px;
    line-height: 0px;
    display: inline-block;
}

.cybr-border02:after, .cybr-border02:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border02:before {
    background: var(--shadow-primary);
    
}



.cybr-border07 {
    --shadow-primary: #fff;

    --clip01: polygon(0 0, 100% 0%, 100% 100%, 100% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(0deg);
    

    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 700;

    border-bottom: 2px solid #ccc;
    text-decoration: none;
    color: #333;
    font-size: 15px;

    min-width: 192px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
}

.cybr-border07:after, .cybr-border07:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip01);
    z-index: -1;

}

.cybr-border07:before {
    background: var(--shadow-primary);
    
}

.cybr-border07 img {
    position: relative;
    right: 15px;
    width: 22px;
    margin-bottom: 4px;
}


.cybr-border08 {
    --shadow-primary: #fff;

    --clip: polygon(0 0, 100% 0%, 100% 100%, 100% 0%, 0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transform: rotate(0deg);



    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 700;

    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;

    min-width: 3px;
    height: 30px;
    line-height: 75px;
    display: inline-block;
}

.cybr-border08:after, .cybr-border08:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    clip-path: var(--clip);
    z-index: -1;

}

.cybr-border08:before {
    background: var(--shadow-primary);
    
}























header .menu02 {
    background-color: #fff;
    width: 100%;
    height: 120px;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu02 .divMenu02 {
    background-color: #00b2f0;
    width: 1190px;
    height: 86%;
}






















/* Depois da Parte Principal */
header.rowT1 {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #000;
    margin: 0px;
    z-index: 20;
    display: flex;
}

header.rowT1 .season1 {
    position: relative;
    top: 0px;
    background-color: #000;
    width: 86%;
    margin-left: 8%;
    height: 100%;
}

header.rowT1.sticky{
    position: fixed;
    top: 0px;
}

/* Estilo do cabeçalho com o menu */
div.menu {
    position: relative;
    left: -35px;
}

div.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: 5px;
}

div.menu h1{ 
    display: none;
}

/* MENU PRICIPAL */

.btn-line span:nth-child(1){
    content:'';
    position:absolute;
    top:0;
    left: 0px;;
    width: 5px;
    height:5px;
    border-top:2px solid #000;
    border-left:2px solid #000;

    transition:.75s;
}
    
.btn-line:hover span:nth-child(1), #btn-line1 span:nth-child(1){
    border-top:2px solid #00b2f0;
    border-left:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(2){
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:5px;
    height:5px;
    border-top:2px solid #000;
    border-right:2px solid #000;
 
    transition:.75s;
}

.btn-line:hover span:nth-child(2), #btn-line1 span:nth-child(2){
    border-top:2px solid #00b2f0;
    border-right:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(3){
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:5px;
    height:5px;
    border-bottom:2px solid #000;
    border-left:2px solid #000;

    transition:.75s;
}

.btn-line:hover span:nth-child(3), #btn-line1 span:nth-child(3){
    border-bottom:2px solid #00b2f0;
    border-left:2px solid #00b2f0;
    width:50%;
    height:50%;
}

.btn-line span:nth-child(4){
    content:'';
    position:absolute;
    bottom:0;
    right:0;
    width:5px;
    height:5px;
    border-bottom:2px solid rgb(0, 0, 0);
    border-right:2px solid rgb(0, 0, 0);

    transition:.75s;
}

.btn-line:hover span:nth-child(4), #btn-line1 span:nth-child(4){
    border-bottom:2px solid rgb(0, 178, 240);
    border-right:2px solid rgb(0, 178, 240);
    width:50%;
    height:50%;
}

.btn-line{
    top: 0px;
    margin:0 15px;
    position:relative;
    display:inline-block;
    padding: 12px 15px!important;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-family: 'Calibri';
    font-size:14px;
    font-weight: 600;
    -webkit-transition:.75s;
    transition:.75s;
    overflow:hidden;
}

.btn-line:hover {
    background-color: #fff;
    color: #000;
    box-shadow: rgb(0 178 240 / 60%) 5px 5px 2px;
}

#btn-line1{
    background-color: #fff;
    color: #000;
    box-shadow: rgb(0 178 240 / 60%) 5px 5px 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}





.wrapper {
    position: absolute;
    top: -2px;
    right: -35px;
    display: inline-flex;
  }
  
  .wrapper .icon {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 16px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    top: -12%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: 50px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }































.divS01 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1538;
}

#sessao01 {
    position: relative;
    width: 1366px;
    height: 650px; 
    background-color: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#sessao01 .slogaEm {
    position: absolute;
    bottom: 80px;
    right: 41.5%;
}

#sessao01 .loader {
    position: relative;
    width: 400px;
    height: 100px;
    background-color: #0e1538;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    overflow: hidden;
    z-index: 2;
}

#sessao01 .loader h3 {
    color: #000;
    animation: animate12 5s linear infinite;
    font-size: 1.85rem;
    z-index: 2;
}

@keyframes animate12 {
   0%, 10.1%, 18%, 20%, 50.1%, 60%, 65.1%, 70.1%, 72%, 90.1%, 92%{
       text-shadow: none;
       color: #000;
   } 

   10%, 18.1%, 20.1%, 50%, 60.1%, 65%, 70%, 72.1%, 90%, 92.1%, 100%, 0% {
        text-shadow: 0 0 10px #00b2f0,
            0 0 20px #00b2f0,
            0 0 40px #00b2f0,
            0 0 80px #00b2f0,
            0 0 160px #00b2f0,
            0 0 320px #00b2f0;
            color: #fff;
   }
}

/*#sessao01 .loader:hover {
    background: #00b2f0;
    color: #fff;
    box-shadow: 0 0 5px #00b2f0, 
        0 0 25px #00b2f0, 
        0 0 50px #00b2f0, 
        0 0 100px #00b2f0;
}*/

#sessao01 .loader span {
    position: absolute;
    display: block;
}

#sessao01 .loader span:nth-child(1) {
    top: 0;
    left: -25%;
    width: 150%;
    height: 5px;
    background: linear-gradient(90deg, transparent, #00b2f0);
    animation: animate1 2s;
}

#sessao01 .loader span:nth-child(3) {
    bottom: 0;
    right: -25%;
    width: 150%;
    height: 5px;
    background: linear-gradient(270deg, transparent, #00b2f0);
}

#sessao01 .loader span:nth-child(2) {
    top: -130%;
    right: 0;
    width: 5px;
    height: 200%;
    background: linear-gradient(180deg, transparent, #00b2f0);
}

#sessao01 .loader span:nth-child(4) {
    top: 30%;
    left: 0;
    width: 5px;
    height: 200%;
    background: linear-gradient(360deg, transparent, #00b2f0);
}



#sessao01 div.box {
    position: relative;
    width: 500px;
    height: 350px;
    margin-bottom: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 8px;
    z-index: 3;
    color: rgb(0, 178, 240);
    box-shadow: 0px 0px 15px rgba(0, 178, 240, 0.2);
    left: 25px;
}

#sessao01 div.box2 {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: -10px 10px 0px rgba(3, 3, 3, 0.4);
}

#sessao01 div.box3 {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 150px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 10px -10px 0px rgba(3, 3, 3, 0.4);
}

#sessao01 div.box4 {
    position: absolute;
    top: 45px;
    left: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 10px 10px 0px rgba(3, 3, 3, 0.4);
}

#sessao01 div.box5 {
    position: absolute;
    bottom: 45px;
    right: 100px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    box-shadow: -10px -10px 0px rgba(3, 3, 3, 0.4);
}

#sessao01 div.box::before {
    content: '';
    position: absolute;
    width: 450px;
    height: 180%;
    background: linear-gradient(#00b2f0, #d400d4);
    animation: animate 6s linear infinite;
}

#sessao01 div.box2::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 150%;
    background: linear-gradient(#00b2f0, #d400d4);
    /*animation: animate 3s linear infinite;*/
}

#sessao01 div.box3::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 150%;
    background: linear-gradient(#00b2f0, #d400d4);
    /*animation: animate 3s linear infinite;*/
}

#sessao01 div.box4::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 139%;
    background: linear-gradient(#00f00c, #fff);
    /*animation: animate2 3s linear infinite;*/
}

#sessao01 div.box5::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 139%;
    background: linear-gradient(#00f00c, #fff);
    /*animation: animate2 3s linear infinite;*/
}


#sessao01 div.box::after {
    content: '';
    position: absolute;
    inset: 0px;
    border-radius: 65px;
    border: 1px solid #00b2f0;
    background: #0e1538;
}

#sessao01 div.box2::after {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 2px;
    background: #0e1538;
}

#sessao01 div.box3::after {
    content: '';
    position: absolute;
    inset: 2px;
    border-radius: 2px;
    background: #0e1538;
}

#sessao01 div.box4::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: #0e1538;
}

#sessao01 div.box5::after {
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 6px;
    background: #0e1538;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
#sessao01 div.box h2 {
    position: relative;
    color: #fff;
    font-size: 5em;
    z-index: 10;
}




































.divProducto {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(#fff 40%, #00b2f0 50%, #00b2f0 50%,#fff 60%);
    height: 500px;
    z-index: 10;
}

.divProducto #cardProduct {
    position: relative;
    width: 800px;
    height: 380px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    display: flex;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.divProducto #cardProduct:hover {
    width: 800px;
}

.divProducto #cardProduct .imgBox {
    position: relative;
    min-width: 400px;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .5s ease-in-out;
}

.divProducto #cardProduct .imgBox img {
    max-width: 275px;
    transition: .5s ease-in-out;
}

.divProducto #cardProduct:hover .imgBox img {
    transform: rotate(-15deg) translate(-20px);
}

#cardProduct .detalhes {
    position: absolute;
    left: 20px;
    width: 400px;
    height: 100%;
    background-color: #00b2f0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    z-index: 1;
    transition: .5s ease-in-out;
    border-right: 4px solid #fff;
}

#cardProduct:hover .detalhes {
    left: 400px;
}

#cardProduct .detalhes::before {
    content: '';
    position: absolute;
    right: -24px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #Fff;
}

#cardProduct .detalherHover {
    position: absolute;
    right: 10%;
    top: 45%;
    color: #FFF;
    font-size: 26px;
}

#cardProduct .detalherHover small{
    font-size: 26px;
    color: #00b2f0;
    text-shadow: 0px 5px 5px #000;
}

#cardProduct .detalhes h3 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6em;
}

#cardProduct .detalhes h3 span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.78em;
}

#cardProduct .detalhes p {
    color: #fff;
    text-transform: none;
    font-weight: 300;
    font-size: 1em;
}





























.divCoresProduto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    height: 600px;
}

.divCoresProduto .containerCores {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 1366px;
    height: 600px;
}

.divCoresProduto .containerCores img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
}

.divCoresProduto .containerCores .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 3;
}

.divCoresProduto .containerCores .nav .caixaCores {
    position: relative;
    left: 250px;
    top: 85px;
    background-color: #fff;
    z-index: 1;
    width: 75px;
    height: 220px;
}



.divCoresProduto .containerCores .nav span {
    position: relative;
    top: -125px;
    left: 250px;
    width: 30px;
    height: 20px;
    margin: 15px 0px;
    background: #f00;
    border-radius: 10%;
    cursor: pointer;
    z-index: 2;
}

.divCoresProduto .containerCores .nav span.active {
    border: 2px solid #000;
    transform: scale(1.2);
}

.divCoresProduto .containerCores .nav span.one,
.divCoresProduto .containerCores .nav i.one {
    background: #0e1538;
}

.divCoresProduto .containerCores .nav span.two,
.divCoresProduto .containerCores .nav i.two {
    background: #df3333;
}

.divCoresProduto .containerCores .nav span.three,
.divCoresProduto .containerCores .nav i.three {
    background: #28e651;
}

.divCoresProduto .containerCores .nav span.four,
.divCoresProduto .containerCores .nav i.four {
    background: #666;
}

.divCoresProduto .containerCores .nav span.active + i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: 1;
    mix-blend-mode: hue;
}




































div.divS2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #232323;
}

div#sessao02 {
    position: relative;
    background-color: #fff;
    border-top: 0px solid #fff;
    z-index: 10;
    width: 1366px;
    height: 800px;
}

div#sessao02 .tituloS2 {
    position: relative;
    color: #000;
    left: 25%;
    z-index: 10;
    padding: 10px 10px;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 10px 10px #000;
    display: inline-flex;
    overflow: hidden;
    /*animation: textTyping 4s steps(150) infinite;*/
}

@keyframes textTyping {
    0%, 90%, 100% {
        width: 1px;
    }

    30%, 60% {
        width: 230px;
    }
}
     

div#sessao02 section.principaisProdutos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 705px;
    background: #232323;
    overflow: hidden;
    padding: 100px 20px;
    box-sizing: border-box;
}

div#sessao02 section.principaisProdutos span.ponto:nth-child(1) {
    content: '';
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: circle(5% at 10% 20%);
}

div#sessao02 section.principaisProdutos span.ponto:nth-child(2) {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: circle(5% at 50% 85%);
}

div#sessao02 section.principaisProdutos::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00b2f0;
    clip-path: circle(35% at 100% -20%);
}

div#sessao02 section.principaisProdutos::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #910000;
    clip-path: circle(30% at 0% 100%);
}

div#sessao02 .containerSeg {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}


div#sessao02 .containerSeg .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}
  
div#sessao02 .containerSeg .card .imgBx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: .5s ease-in-out;
}

div#sessao02 .containerSeg .card:hover .imgBx {
    transform: translateY(-100px);
}

div#sessao02 .containerSeg .card .imgBx img {
    max-width: 100%;
    margin: 0 0 20px;
    transition: .5s ease-in-out;
}

div#sessao02 .containerSeg .card:hover .imgBx img {
    transform: translate(0px, -20px) rotate(-15deg) scale(1.2);
}

div#sessao02 .containerSeg .card .imgBx h2 {
    color: #fff!important;
    font-weight: 600;
}

div#sessao02 .containerSeg .card .contentBox {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease-in;
    opacity: none;
    visibility: hidden;
}

div#sessao02 .containerSeg .card:hover .contentBox {
    opacity: 1;
    transition: 0.5s ease-in;
    visibility: visible;
    transform: translateY(-25px);
}

div#sessao02 .containerSeg .card .contentBox .size,
div#sessao02 .containerSeg .card .contentBox .color 
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}

div#sessao02 .containerSeg .card .contentBox .size h3,
div#sessao02 .containerSeg .card .contentBox .color h3
{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

div#sessao02 .containerSeg .card .contentBox .size span
{
    width: 26px; height: 26px;
    text-align: center;
    line-height: 24px;
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 600;
    transition: none;
    cursor: pointer;
}

div#sessao02 .containerSeg .card .contentBox .size span:hover
{
    transition: .5s;
    background-color: #00b2f0;
}

div#sessao02 .containerSeg .card .contentBox .color span
{
    width: 20px; height: 20px;
    background-color: #f00;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
}

div#sessao02 .containerSeg .card .contentBox .color span:nth-child(2) {
    background-color: #0004ff;
}
div#sessao02 .containerSeg .card .contentBox .color span:nth-child(3) {
    background-color: #f00;
}
div#sessao02 .containerSeg .card .contentBox .color span:nth-child(4) {
    background-color: #aaff00;
}

div#sessao02 .containerSeg .card .contentBox a {
    text-decoration: none;
    position: relative;
    top: 10px;
    display: inline-block;
    padding: 12px 30px;
    background: #fff;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    text-transform: uppercase;
}

div#sessao02 .containerSeg .card .contentBox a:hover {
    background: #00b2f0;
}

